{% extends '_include/base-general.html' %}
{% block head %}
    {% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
{% endblock %}

{% block body %}
    {% load static %}{% csrf_token %}
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">{{ title }}</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="{% url 'operators_dashboard' %}">Home</a></li>
            <li><a href="{% url 'organizations_index' %}">{{ title }}</a></li>
            <li class="active">Add</li>
        </ul>
    </div>
   <div id="page-content" style="padding-top:0px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>
                                    {{ form.name.label }}
                                    <label style="color: red; margin-bottom: 0;">
                                        {% if form.name.field.required %} * {% endif %}
                                    </label>
                                </label>
                                {{ form.name }}
                                {{ form.name.errors }}
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>
                                            {{ form.email.label }}
                                            <label style="color: red; margin-bottom: 0;">
                                                {% if form.email.field.required %} * {% endif %}
                                            </label>
                                        </label>
                                        {{ form.email }}
                                        {{ form.email.errors }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>
                                            {{ form.phone_number.label }}
                                            <label style="color: red; margin-bottom: 0;">
                                                {% if form.phone_number.field.required %} * {% endif %}
                                            </label>
                                        </label>
                                        {{ form.phone_number }}
                                        {{ form.phone_number.errors }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-lg btn-block btn-primary"> Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}