{% extends '_include/base-general.html' %}
{% block head %}
    {% load static %}
    <title>{{ APP_CONSTANT_APP_NAME }} : {{ title }}</title>
{% endblock %}

{% block body %}
    {% load static %}{% csrf_token %}
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">{{ title }}</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="{% url 'operators_dashboard' %}">Home</a></li>
            <li><a href="{{ index_url }}">{{ title }}</a></li>
            <li class="active">{{ model.operator_id }}</li>
            <li class="active">Details</li>
        </ul>
    </div>
    <div id="page-content" style="padding-top:0px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                            {% if ACCESS_PERMISSION_OPERATOR_UPDATE in auth_permissions.values %}
                                <a href="{% url 'operators_update' pk=model.operator_id %}" class="btn btn-info">Update</a>
                                <a href="{% url 'operators_update_permissions_view' pk=model.operator_id %}"
                                class="btn btn-warning">Update
                                    Permissions</a>
                                <a href="{% url 'operators_update_reset_password' pk=model.operator_id %}" class="btn btn-danger">Reset
                                    Password</a>
                            {% endif %}
                            {% if operator.operator_id != 1 or operator.operator_id != model.operator_id %}
                                {% if ACCESS_PERMISSION_OPERATOR_UPDATE in auth_permissions.values %}
                                    {% if model.operator_status == model.STATUS_UNVERIFIED %}
                                        <a href="#"
                                        onclick="singleSelect('{{ select_single_url }}', 'verify', '{{ model.operator_id }}');"
                                        class="btn btn-warning">Verify</a>
                                    {% endif %}
                                {% endif %}
                                {% if ACCESS_PERMISSION_OPERATOR_UPDATE in auth_permissions.values %}
                                    {% if model.operator_status == model.STATUS_UNAPPROVED %}
                                        <a href="#"
                                        onclick="singleSelect('{{ select_single_url }}', 'approve', '{{ model.operator_id }}');"
                                        class="btn btn-warning">Approve</a>
                                    {% endif %}
                                {% endif %}
                                {% if ACCESS_PERMISSION_OPERATOR_UPDATE in auth_permissions.values %}
                                    {% if model.operator_status == model.STATUS_ACTIVE or model.operator_status == model.STATUS_INACTIVE %}
                                        <a href="#"
                                        onclick="singleSelect('{{ select_single_url }}', 'block', '{{ model.operator_id }}');"
                                        class="btn btn-danger">Block</a>
                                    {% endif %}
                                {% endif %}
                                {% if ACCESS_PERMISSION_OPERATOR_UPDATE in auth_permissions.values %}
                                    {% if model.operator_status == model.STATUS_BLOCKED %}
                                        <a href="#"
                                        onclick="singleSelect('{{ select_single_url }}', 'unblock', '{{ model.operator_id }}');"
                                        class="btn btn-warning">Unblock</a>
                                    {% endif %}
                                {% endif %}
                                {% if ACCESS_PERMISSION_OPERATOR_DELETE in auth_permissions.values %}
                                    <a href="#"
                                    onclick="singleSelect('{{ select_single_url }}', 'delete', '{{ model.operator_id }}', '{{ index_url }}');"
                                    class="btn btn-danger">Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <br>
                        <div style="padding-bottom:10px;">
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>
                                        {{ form.name.label }}
                                        <label style="color: red; margin-bottom: 0;">
                                            {% if form.name.field.required %} * {% endif %}
                                        </label>
                                    </label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>
                                 <div class="form-group">
                                    <label>
                                        {{ form.organization_id.label }}
                                        <label style="color: red; margin-bottom: 0;">
                                            {% if form.organization_id.field.required %} * {% endif %}
                                        </label>
                                    </label>
                                    {{ form.organization_id }}
                                    {{ form.organization_id.errors }}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>
                                                {{ form.email.label }}
                                                <label style="color: red; margin-bottom: 0;">
                                                    {% if form.email.field.required %} * {% endif %}
                                                </label>
                                            </label>
                                            {{ form.email }}
                                            {{ form.email.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>
                                                {{ form.phone_number.label }}
                                                <label style="color: red; margin-bottom: 0;">
                                                    {% if form.phone_number.field.required %} * {% endif %}
                                                </label>
                                            </label>
                                            {{ form.phone_number }}
                                            {{ form.phone_number.errors }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript" charset="utf-8">
                            $(document).ready(function () {
                                $("#search-input-select-organization").select2({placeholder: "--select--", allowClear: true});
                            });
                        </script>
                        <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr style="background-color:{{ COLOR_PRIMARY }};">
                                <th style="width:20%; color:#fff;">Key</th>
                                <th style="width:80%; color:#fff;">Value</th>
                            </tr>
                            <tr>
                                <td>Agent Id</td>
                                <td>{{ model.operator_id }}</td>
                            </tr>
                            <tr>
                                <td>Created At</td>
                                <td>{{ model.operator_created_at }}</td>
                            </tr>
                            <tr>
                                <td>Created By</td>
                                <td>{{ model.operator_created_by }}</td>
                            </tr>
                            <tr>
                                <td>Updated At</td>
                                <td>{{ model.operator_updated_at }}</td>
                            </tr>
                            <tr>
                                <td>Updated By</td>
                                <td>{{ model.operator_updated_by }}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    {% if model.operator_status == model.STATUS_ACTIVE %}
                                        <div style="width:100px;">{{ model.HTML_TAG_STATUS_ACTIVE_COLOR | safe }}</div>
                                    {% endif %}
                                    {% if model.operator_status == model.STATUS_INACTIVE %}
                                        <div style="width:100px;">{{ model.HTML_TAG_STATUS_INACTIVE_COLOR | safe }}</div>
                                    {% endif %}
                                    {% if model.operator_status == model.STATUS_BLOCKED %}
                                        <div style="width:100px;">{{ model.HTML_TAG_STATUS_BLOCKED_COLOR | safe }}</div>
                                    {% endif %}
                                    {% if model.operator_status == model.STATUS_UNVERIFIED %}
                                        <div style="width:100px;">{{ model.HTML_TAG_STATUS_UNVERIFIED_COLOR | safe }}</div>
                                    {% endif %}
                                    {% if model.operator_status == model.STATUS_UNAPPROVED %}
                                        <div style="width:100px;">{{ model.HTML_TAG_STATUS_UNAPPROVED_COLOR | safe }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '_include/single_select.html' %}
{% endblock %}